@{
    ViewBag.Title = "noFunds";
}

<body class="container" style="background-image: url(../../Content/signin.jpg);background-size:cover;">

    <div id="desc" class="des pull-center" style="width: 700px; font-family:Narkisim; color: #0094ff;">
        <h5>
            you haven't got any fund yet...
        </h5>
    </div>

</body>
